		p {font-family:Verdana,Arial,Helvetica;font-size:10px;color:#000000;}
		p.list {font-family:Verdana,Arial,Helvetica;font-size:10px;font-weight:bold;color:#616161;}
		p.list2 {font-family:Verdana,Arial,Helvetica;font-size:10px;color:#616161;}
		.list3 {font-family:Verdana,Arial,Helvetica;font-size:10px;color:#616161;margin:0px;font-weight:normal;}
		p.sub {font-family:Verdana,Arial,Helvetica;font-size:13px;color:#004D80;font-weight:bold;margin-top:10px;}
		p.portdesc {font-family:Verdana,Arial,Helvetica;font-size:11px;color:#636565; margin:10px;}
		p.sub2 {font-family:Verdana,Arial,Helvetica;font-size:13px;color:#E88800;font-weight:bold;margin:0px;}
		p.port {font-family:Verdana,Arial,Helvetica;font-size:13px;color:#7575AE;font-weight:bold;margin:0px;}
		p.sub3 {font-family:Verdana,Arial,Helvetica;font-size:13px;color:#7575AD;font-weight:bold;margin:0px;}
		p.sub4 {font-family:Verdana,Arial,Helvetica;font-size:11px;color:#9A9A9A;font-weight:bold;margin:0px;}
		.bl {color:#3D65B4;font-weight:bold;}
		.in {margin-left:10px;}
		a {color:#2E4BB6; text-decoration:underline; font-weight:bold;}
		a.sub {color:#004D80;text-decoration:none;}
		a.sub:hover {color:#004D80; text-decoration:underline;}
		a.port {color:#203CC7;text-decoration:none;font-weight:normal;}
		a.port:hover {color:#203CC7; text-decoration:underline;}
		.cf {background:#FFFFFF;border:solid 1 #F6D889;width:100%; font-family:Arial; font-size:11px;}
		.cf2 {background:#FFFFFF;border:solid 1 #F6D889; font-family:Arial; font-size:11px;}
		.sel {width:150px;}
		.sm1 {font-family:Verdana,Arial,Helvetica;font-size:11px;color:#373737;font-weight:bold;}
		.sm2 {font-family:Verdana,Arial,Helvetica;font-size:11px;color:#384DAA;}
		a.sm1 {color:#373737;text-decoration:none;}
		a.sm1:hover {color:#384DAA;}
		a.sm2 {color:#384DAA;text-decoration:none;font-weight:normal;}
		a.sm2:hover {color:#081446;}
		.nav {font-family:Verdana,Arial,Helvetica;font-size:10px;color:#AAAAAA;}
		.curnav {font-family:Verdana,Arial,Helvetica;font-size:10px;color:#FFFFFF;font-weight:bold;}
		a.nav {color:#AAAAAA;text-decoration:none;}
		a.nav:hover {color:#000000;}
		p.com {font-family:Verdana,Arial,Helvetica;font-size:10px;color:#616161;margin-left:20px;margin-right:20px;}
		p.edate {color:#3D65B4;margin:10px;}
		p.eupdate {margin:10px;}
		.eh {color:#E2A93C;font-weight:bold;}
