/*-----------------------------
RESET STYLES
-----------------------------*/

html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6{
	margin:0;
	padding:0;
	-webkit-text-size-adjust:none; /* This stops the iPhone from automatically changing the size of the text when you flip the phone */
	}

 
/*-----------------------------
	SITE SPECIFIC STYLES
-----------------------------*/

body{
	background:#000000;
	font-family: Helvetica; /* Helvetica is on the iPhone already, so you may as well take advantage */
	color:#999;
	}
ul, li, ol, dl, dd, dt{
	list-style:none;
	padding:0;
	margin:0;
	}
p{
	font-size:12px;
	color:#DEEDF7;
	padding-bottom:8px;
	}
a{
	color:#3BAAE3;
	text-decoration:none;
	}

/*-----------------------------
	HEADINGS
-----------------------------*/

h1{
	display:block;
	width:300px;
	height:64px;
	background-image:url(images/logo.png) ;

	background-repeat:no-repeat;
	text-indent:95px;	
	}

/*-----------------------------
	BASIC LAYOUT
-----------------------------*/

#page_wrapper{
	padding-top:20px;
	background:#000 url(images/back.gif) repeat-x;
	background-color:#F5F5F5;
	overflow:auto;
	}

/*-----------------------------
	ORIENTATION CLEVERNESS
-----------------------------*/

#content_left,
#content_right,
#content_normal,
#content_flipped{
	display:none;
	}
.show_normal,
.show_flipped{
	width:320px;
	}
.show_left,
.show_right{
	width:480px;
	}

.show_left #content_left,
.show_right #content_right,
.show_normal #content_normal,
.show_flipped #content_flipped{
	display:block;
	}

	
th{
	font-size:14px;
	color:#72C97B;
}
td{
	font-size:12px;
	color:#E3FFEB;/*#DEEDF7*/
}

